Source: gxde-top-panel-plugins
Section: x11
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 8.0.0),
 qttools5-dev,
 qttools5-dev-tools,
 pkg-config,
 qt5-qmake,
 libxcb-image0-dev,
 libxcb-composite0-dev,
 libxcb-ewmh-dev,
 libqt5x11extras5-dev,
 libxcb-damage0-dev,
 libqt5svg5-dev,
 libxcb-icccm4-dev,
 libxtst-dev,
 libdtkwidget-dev,
 libdtkcore-dev,
 libdtkcore5-bin,
 qttools5-dev-tools,
 libxcb-icccm4-dev,
 qtbase5-private-dev,
 libgxframeworkdbus-dev,
 libgsettings-qt-dev,
 cmake,
 libgxde-network-utils-dev (>= 1.0.0),
 libdbusmenu-qt5-dev,
 libdtkcore5-bin,
 clang [mips64el],
 libdtkgui-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/


Package: gxde-top-panel-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gxde desktop-environment - dock plugin for gxde top panel
 
Package: dde-top-panel-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: deepin desktop-environment - dock plugin for dde top panel
