Source: gxde-top-panel-plugins
Section: x11
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>= 8.0.0),
 qt6-tools-dev,
 qt6-tools-dev-tools,
 pkg-config,
 libxcb-image0-dev,
 libxcb-composite0-dev,
 libxcb-ewmh-dev,
 libxcb-damage0-dev,
 libqt6svg6-dev,
 libxcb-icccm4-dev,
 libxtst-dev,
 libdtk6widget-dev,
 libdtk6core-dev,
 qt6-base-private-dev,
 libgxframeworkdbus-dev,
 libgsettings-qt-dev,
 cmake,
 libgxde-network-utils-qt6-dev (>= 1.0.0),
 libdbusmenu-qt6-dev,
 clang [mips64el],
 libdtk6gui-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/


Package: gxde-top-panel-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gxde-desktop-schemas (>= 4.0.2)
Description: gxde desktop-environment - dock plugin for gxde top panel
 
Package: dde-top-panel-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gxde-desktop-schemas (>= 4.0.2)
Description: deepin desktop-environment - dock plugin for dde top panel
